body{
    display: flex;
    justify-content: center;
    background-color: rgb(25, 41, 56);
    margin-top: 20px;font-family: arial;color: white;
}
.sait{
    display: grid;
    grid-template-columns:repeat(12, 120px);
    grid-template-rows: 400px 70px 400px 400px 150px 100px 400px;
    grid-template-areas:
    "banr banr banr banr banr banr banr banr banr banr banr banr"
    "spec spec spec spec pust pust pust pust bols bols bols bols"
    "gam1 gam1 gam1 gam1 gam2 gam2 gam2 gam2 gam3 gam3 gam3 gam3"
    "gam4 gam4 gam4 gam4 gam5 gam5 gam5 gam5 gam6 gam6 gam6 gam6"
    "past past past past past past past past past past past past"
    "katg katg katg pist pist pist pist pist pist pist pist pist"
    "sqr1 sqr1 sqr1 sqr2 sqr2 sqr2 sqr3 sqr3 sqr3 sqr4 sqr4 sqr4";
    gap: 20px;
    border: 0;
}
div{

}
.banr{
    grid-area: banr;background-image: url(banr.png);background-size: cover;
}
.spec{
    grid-area: spec;display: flex;align-items: end;
}
.pust{
    grid-area: pust;
}
.bols{
    grid-area: bols;
}
.gam1{
    grid-area: gam1;
}
.gam2{
    grid-area: gam2;
}
.gam3{
    grid-area: gam3;
}
.gam4{
    grid-area: gam4;
}
.gam5{
    grid-area: gam5;
}
.gam6{
    grid-area: gam6;
}
.katg{
    grid-area: katg;
}
.sqr1{
    grid-area: sqr1;
}
.sqr2{
    grid-area: sqr2;
}
.sqr3{
    grid-area: sqr3;
}
.sqr4{
    grid-area: sqr4;
}
.past{
    grid-area: past;
}
.pist{
    grid-area: pist;
}
h3{font-weight: lighter; padding-top: 50px;}
img{
    width: 100%;
    height: 100%;
}
